<ion-content color="tertiary">
  <ion-grid>
    <ion-row>
      <!-------------Inicio---------------------->
      <ion-col *ngIf="!Recover && !showInput && !showReg" size-xs="12" size-sm="12" size-md="4" size-lg="12" size-xl="12">

         <div class="ion-text-center logo-container" *ngIf="img">
          <img src="../../assets//img/logo.png" />
        </div>

      </ion-col>
      <ion-col *ngIf="!Recover && !showInput && !showReg" size-xs="12" size-sm="12" size-md="4" size-lg="12" size-xl="12" class="ion-text-center">
        <ion-row class="ion-padding-bottom">
          <ion-col size="12" class="ion-pad">
            <ion-button color="warning" (click)="showLogin()">
              Ingresar
            </ion-button>
          </ion-col>
          <ion-col size="12" class="ion-padding-top">
            <ion-button color="primary" (click)="showRegister()">
              Registrarse
            </ion-button>
          </ion-col>
        </ion-row>

      <ion-card class="ion-margin-horizontal ion-padding-bottom card">
        <div class="pad-top-50">
          <ion-label color="dark" class="title">Ingresa con tus redes sociales</ion-label>
        </div>
        <div class="ion-text-center pad-top-30 ion-padding-bottom">
          <ion-icon class="icon" color="primary" name="logo-google"></ion-icon>
          <ion-icon class="icon" color="dark" name="logo-facebook"></ion-icon>
        </div>
      </ion-card>
       
      </ion-col>

      <!------------------LOGIN----------------->
      <ion-col *ngIf="!Recover && showInput && !showReg" size-xs="12" size-sm="12" size-md="4" size-lg="12" size-xl="12">

        <div class="ion-text-center logo-container" *ngIf="img">
          <img src="../../assets//img/logo.png" />
        </div>
        
        <ion-item lines="none"  color="tertiary">
          <ion-label color="dark"> <b>Ingresa tus datos</b></ion-label>
          <ion-icon slot="end" name="close-circle-outline" color="light" (click)="showLogin()"></ion-icon>
        </ion-item>

          <ion-item lines="none"  color="tertiary">
            <ion-label class="ion-padding-bottom" position="stacked" color="dark">Email</ion-label>
          <ion-input aria-label="Custom input" [(ngModel)]="emailLog" type="email"></ion-input>

            <ion-label class="ion-padding-bottom" position="stacked" color="dark">Contraseña</ion-label>
            <ion-input aria-label="Custom input" type="password" [(ngModel)]="claveLog" (keyup.enter)="login()"></ion-input>
          </ion-item>
          <div class="ion-text-center ion-padding-vertical">
            <ion-button shape="round" (click)="login()" color="primary">
              Entrar
           </ion-button>
          </div>
       
      </ion-col>
      <!------------------REGISTRAR----------------->
      <ion-col *ngIf="showReg" size-xs="12" size-sm="12" size-md="4" size-lg="12" size-xl="12">

        <div class="ion-text-center ion-padding-vertical logoRegister">
          <img src="../../assets//img/logo.png" width="250px" />
        </div>

        <ion-item lines="none"  color="tertiary">
          <ion-icon slot="end" name="close-circle-outline" color="light" (click)="showRegister()"></ion-icon>
        </ion-item>
        <ion-item class="ion-text-center"  color="tertiary">
          <ion-title class="title" color="dark"><b>Ingresa tus datos</b></ion-title>
        </ion-item>

        <ion-item lines="none"  color="tertiary">
          <ion-label class="ion-padding-bottom" position="stacked" color="dark">Email</ion-label>
          <ion-input aria-label="Custom input" [(ngModel)]="user.email" type="email"></ion-input>

          <ion-label class="ion-padding-bottom" position="stacked" color="dark">Teléfono</ion-label>
          <ion-input aria-label="Custom input" [(ngModel)]="user.phone" type="email"></ion-input>

          <ion-label class="ion-padding-bottom" position="stacked" color="dark">Contraseña</ion-label>
          <ion-input aria-label="Custom input" [(ngModel)]="claveLog" type="password"></ion-input>

          <ion-label class="ion-padding-bottom" position="stacked" color="dark">Nombre</ion-label>
          <ion-input aria-label="Custom input" [(ngModel)]="user.fullName" type="text"></ion-input>

          <ion-label class="ion-padding-bottom" position="stacked" color="dark">Género</ion-label>
          <ion-select [(ngModel)]="user.sex">
            <ion-select-option value="masculino">Masculino</ion-select-option>
            <ion-select-option value="femenino">Femenino</ion-select-option>
            <ion-select-option value="no-binario">No binario</ion-select-option>
          </ion-select>

          <ion-label class="ion-padding-bottom" position="stacked" color="dark">Fecha de nacimiento</ion-label>
          <ion-input aria-label="Custom input" [(ngModel)]="user.birthday" type="date"></ion-input>
      <!--    <ion-icon class="icon ion-padding-start" name="calendar" (click)="openCalendar()" color="light"></ion-icon>-->
        </ion-item>
        <div class="ion-text-center ion-padding-vertical" color="tertiary">
          <ion-button color="success" (click)="register()" size="medium" [disabled]="!validator()">
            Registrarse
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-text-center footer">
    <ion-button fill="clear" shape="round" routerLink="/terms" color="light">
      Ver términos y condiciones
   </ion-button>
</ion-footer>