<ion-content color="tertiary">
  <ion-grid>
    <ion-row>
      <ion-col
        *ngIf="!Recover"
        size-xs="12"
        size-sm="12"
        size-md="4"
        size-lg="3">
        <!------------------lOGO---------------->
        <div class="ion-text-center logo" *ngIf="img">
          <img src="../../assets//img/logo.png" />
        </div>

        <!----------------------LOGIN------------------->

   <div *ngIf="showInput">
    <ion-item color="dark" class="ion-padding-vertical">
      <ion-icon
              slot="end"
              name="close-circle-outline"
              color="light"
              (click)="showLogin()"
            ></ion-icon>
      <ion-label position="stacked" color="light">Email</ion-label>
      <ion-input
      aria-label="Custom input"
      placeholder="Email"
      class="custom"
      [(ngModel)]="emailLog" 
      type="email"
    ></ion-input>
    <ion-label position="stacked" color="light">Contraseña</ion-label>
    <ion-input
      type="password"
      [(ngModel)]="claveLog"
      (keyup.enter)="doLogin2()"></ion-input>

    <ion-button fill="clear" (click)="showRecover()">
      <span style="color: #ffffff">Recupera tu contraseña</span>
    </ion-button>
    </ion-item>
   </div>
       

        <ion-row class="ion-padding-horizontal" *ngIf="!showInput">
          <ion-col
            size="12"
            class="ion-text-center"
            *ngIf="!showReg && !showInput">
            <ion-button color="warning" (click)="showLogin()" expand="block">
              Ingresar
            </ion-button>
          </ion-col>
          <ion-col
            size="12"
            class="ion-text-center"
            *ngIf="!showReg && !showInput">
            <ion-button color="primary" (click)="showRegister()" expand="block">
              Registrarse
            </ion-button>
          </ion-col>

          <ion-col
            size="12"
            class="ion-text-center pad-top-30"
            *ngIf="!showReg">
            <ion-label>Ingresa con tus redes sociales</ion-label>
          </ion-col>

          <ion-col size="6" class="ion-text-center pad-top-50" *ngIf="!showReg">
            <ion-icon class="icon" color="secondary" name="logo-google"></ion-icon>
          </ion-col>
          <ion-col size="6" class="ion-text-center pad-top-50" *ngIf="!showReg">
            <ion-icon
              class="icon"
              color="secondary"
              name="logo-facebook"></ion-icon>
          </ion-col>

          <ion-col
            size="12"
            class="ion-text-center pad-top-30"
            *ngIf="!showReg">
            <ion-button fill="clear" shape="round" routerLink="/terms"
              color="light">
              Ver términos y condiciones
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>

      <!------------RECUPERAR CONTRASEÑA----------------->
      <ion-col
        *ngIf="Recover"
        size-xs="12"
        size-sm="12"
        size-md="4"
        size-lg="3">
        <div class="ion-text-center">
          <img src="../../assets//img/logo-demo.jpg" width="250px" />
        </div>
        <div class="title-login ion-padding ion-text-center">
          <p>Ingresa tu email y recupera tu contraseña</p>
        </div>
        <div class="ion-padding">
          <ion-list style="background: transparent">
            <ion-item lines="none">
              <ion-label position="stacked">Escribe tu email</ion-label>
              <ion-input type="email" class="label-form" [(ngModel)]="emailLog">
              </ion-input>
            </ion-item>
            <div class="ion-text-center ion-padding">
              <ion-button
                color="primary"
                size="medium"
                shape="round"
                expand="block"
                (click)="recoveryPass()">
                Confirmar
              </ion-button>
              <ion-button
                color="medium"
                size="small"
                shape="round"
                fill="clear"
                (click)="showRecover()">
                <span style="color: #000000">Volver</span>
              </ion-button>
            </div>
          </ion-list>
        </div>
      </ion-col>

      <!---------------REGISTRAR---------------------->
      <ion-col size="12" *ngIf="showReg">
        <div class="ion-text-center">
          <img src="../../assets//img/logo-demo.jpg" width="250px" />
        </div>
        <ion-list>
          <ion-item lines="none">
            <ion-icon
              slot="end"
              name="close-circle-outline"
              color="danger"
              (click)="showRegister()"></ion-icon>
          </ion-item>
          <ion-list-header class="ion-text-center">
            <ion-label>Ingresa tus datos para registrarte</ion-label>
          </ion-list-header>

          <ion-item lines="none">
            <ion-label position="stacked" class="label-form">Email</ion-label>
            <ion-input type="text" [(ngModel)]="user.email"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label position="stacked" class="label-form">Teléfono</ion-label>
            <ion-input type="text" [(ngModel)]="user.phone"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label position="stacked" class="label-form">Contraseña</ion-label>
            <ion-input type="text" [(ngModel)]="claveLog"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label position="stacked" class="label-form">Nombre</ion-label>
            <ion-input type="text" [(ngModel)]="user.fullName"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label position="stacked">Género</ion-label>
            <ion-select [(ngModel)]="user.sex">
              <ion-select-option value="masculino">Masculino</ion-select-option>
              <ion-select-option value="femenino">Femenino</ion-select-option>
              <ion-select-option value="no-binario">No binario</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Fecha de Nacimiento</ion-label>
            <ion-item class="itemFecha">
              <ion-input
                [(ngModel)]="user.birthday"
                type="text"
                placeholder="dd/mm/yyyy"></ion-input>
              <ion-icon
                class="icon ion-padding-start"
                name="calendar"
                (click)="openCalendar()"
                color="secondary"></ion-icon>
            </ion-item>
          </ion-item>

          <div class="ion-text-center ion-padding-top">
            <ion-button
              color="success"
              (click)="register()"
              [disabled]="!validator()">
              Registrarse
            </ion-button>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
