// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #410c00;
  --ion-color-primary-rgb: 50, 64, 78;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 154, 168, 176;
  --ion-color-primary-shade: #25303a;
  --ion-color-primary-tint: #425466;


  /** secondary **/
  --ion-color-secondary: #155195;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #2c8dba;
  --ion-color-secondary-tint: #3bbefa;

  /** tertiary **/
  --ion-color-tertiary: #ea710d;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #db6a0d;
  --ion-color-tertiary-tint: #f77810;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #0E1318;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #f4f4f4;
  --ion-color-medium-rgb: 244, 244, 244;
  --ion-color-medium-contrast: #323232;
  --ion-color-medium-contrast-rgb: 183, 183, 183;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #FFFFFF;
  --ion-color-light-rgb: 255, 255, 255;
  --ion-color-light-contrast: #7e7e7e;
  --ion-color-light-contrast-rgb: 126, 126, 126;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** logocolor **/
  --ion-color-logocolor: #f5c542;
  --ion-color-logocolor-rgb: 244, 244, 244;
  --ion-color-logocolor-contrast: #0E1318;
  --ion-color-logocolor-contrast-rgb: 0, 0, 0;
  --ion-color-logocolor-shade: #0E1318;
  --ion-color-logocolor-tint: #0E1318;
}
