<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=" " defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Área 33</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <swiper-container class="ion-align-items-center ion-text-center pad-top-250" >
    <swiper-slide>
      <div class="slide-content">
        <img src="../../assets/img/area33.png" alt="Imagen 1">
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="slide-content">
        <img src="../../assets/img/area34.png" alt="Imagen 1">
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="slide-content">
        <img src="../../assets/img/login.jpg" alt="Imagen 1">
      </div>
    </swiper-slide>
  </swiper-container>
  <ion-button routerLink="/cards" expand="block" fill="clear" shape="round">
    Ir a la app
  </ion-button>
</ion-content>
